<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{client/header :: header}"></div>
<body>
<div th:replace="~{client/header :: navbar}"></div>
<br /><br />
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2 th:text="${recipe.name}"></h2>
      <hr/>
      <h4 th:text="${recipe.shortDescriptionIngredients}"></h4>
      <hr />
      <div th:utext="${recipe.instructions}">
      </div>
  </div>
    <div class="col-md-3">
      <!-- search bar goes here -->
      <div th:replace="~{client/search :: search}"></div>
    </div>
  </div>
</div>
<br/><br/><br/><br/>
<div th:replace="~{client/footer :: footer}"></div>
</body>
</html>