<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="~{client/header :: header}"></div>

<body>
<div th:replace="~{client/header :: navbar}"></div>
<br /><br />
<div class="container">
    <div class="row">
      <div class="=col-md-9">
          <div th:each= "recipe: ${recipesResponse}">
              <div class="card">
                  <div class="card-header">
                      <h3>
                          <a th:href="@{/recipe/{recipeUrl}(recipeUrl=${recipe.url})}"
                                th:text="${recipe.name}"></a>
                      </h3>
                      <div>
                          <strong th:text="${#temporals.format(recipe.createdOn, 'dd MMMM yyy')}">

                          </strong>
                      </div>

                  </div>
                  <div class="card-body">
                      <span th:utext="${recipe.shortDescriptionIngredients}"> </span>
                      <a th:href="@{/recipe/{recipeUrl}(recipeUrl=${recipe.url})}">Read more</a>

                  </div>

              </div>
              <br />

          </div>

      </div>
        <div class="=col-md-3">
            <!-- search bar --->
            <div th:replace="~{client/search :: search}"></div>
        </div>
    </div>
</div>
<br /><br /><br />
<div th:replace="~{client/footer ::footer}"></div>
</body>
</html>